.search-room-title {
  font-size: var(--title-font-size);
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;
}

.search-room-contents {
  border-style: solid;
  display: flex;
  float: left;
  width: 1000px;
  height: fit-content;
  margin: 0px;
}

.advanced-search-button {
  width: 216px;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 504px;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advanced-search-button-container {
  float: left;
  width: 216px;
  height: 48px;
}

.search-room-contents-container {
  padding-top: 16px;
  float: left;
  margin: 48px;
}