:root {
    --Image-size: 200px;
    --title-font-size: 20px;
    --text-font-size: 18px;
  }
  
  h1 {
    margin:0;
  }
  
  .SearchRoomTitle { 
    font-size: var(--title-font-size);
    font-weight: bold;
  }
  
  .SearchRoomContents {
    border-style: solid;
    display: flex;
    float: left;
    width: 1000px;
    height: fit-content;
    margin: 0px;
  }
  /* change css names + alphabetical + px 8 */
  .AdvancedSearchButton {
    width: 216px;
    height: 48px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 504px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .AdvancedSearchButtonContainer {
    float: left;
    width: 216px;
    height: 48px;
  }

  .SearchRoomContentsContainer {
    padding-top: 16px;
    width: 100%;
    float: left;
    margin: 48px;
  }