.back-clear-buttons {
  display: flex;
  flex-direction: row;
  height: 48px;
  margin-left: 600px;
  margin-top: 16px;
  padding-left: 200px;
}


.back-button {
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  width: 216px;
}

.clear-button {
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  margin-left: 16px;
  width: 216px;
}
