.back-clear-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  justify-content: center;
}


.back-button {
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  min-width: 112px;
}

.clear-button {
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  width: 22%;
  min-width: 112px;
}
