.back-clear-buttons-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center
}

.back-clear-buttons {
  margin: 0 auto;
  display: flex;
}

.back-button {
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  width: 216px;
}

.clear-button {
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  margin-left: 16px;
  width: 216px;
}
