.StickyBar {
  display: flex;
}

.StickyBarContents {
  width: 100%;
}
.StickyBarContentsTitle {
  text-align: center;
}

.leftSide {
  float: left;
  margin-top: 62px;
}

.Rooms {
  float: left;
}

.RoomsButtons {
  float: left;
  width: 120px;
  border-style: solid;
}

.MySection {
  float: left;
}

.MySectionButtons {
  float: left;
  width: 120px;
  border-style: solid;
}

.App-link {
  color: #61dafb;
}

.gel-icon {
  height:15px;
  width:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
