.page-content-below-sticky {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
  width: 100%;
}

.left-side {
  align-items: center;
  flex-direction: column;
  float: left;
  justify-content: space-evenly;
  margin-left: 10%;
  width: 20%;
}

.right-side {
  float: right;
  height: fit-content;
  margin-right: 10%;
  width: 60%;
}
