.page-content-below-sticky {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
}

.left-side {
  align-items: center;
  flex-direction: column;
  float: left;
  justify-content: space-evenly;
  margin-left: 168px;
  padding-left: 32px;
  width: 320px;
}

.right-side {
  float: left;
  height: fit-content;
}

.textarea {
  height: 24px;
  margin: 8px;
  padding-top:16px;
  width: 400px;
}

.textbox {
  display: flex;
  float: right;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.label {
  font-size: var(--text-font-size);
  width:400px;
  text-align: left;
}