:root {
  --Image-size: 200px;
  --title-font-size: 20px;
  --text-font-size: 18px;
}

@media only screen and (min-width: 1000px) {
  .my-section-button {
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    display: flex;
    justify-content: center;
    margin: 8%;
    width: 80%;
    height: 10%;
  }

  .rooms-button {
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    display: flex;
    justify-content: center;
    margin: 8%;
    width: 80%;
  }

  .rooms {
    float: left;
    position: relative;
    width: 90%;
  }

  .rooms-title {
    float: left;
    font-size: var(--title-font-size);
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 8%;
  }

  .rooms-buttons {
    float: left;
    width: 80%;
  }

  .my-section {
    float: left;
    margin-bottom: 4%;
    width: 90%;
  }

  .my-section-title {
    float: left;
    font-size: var(--title-font-size);
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 8%;
  }

  .my-section-buttons {
    float: left;
    width: 80%;
    height: 100%;
  }

  .button-border {
    border-style: solid;
  }
}