:root {
  --Image-size: 200px;
  --title-font-size: 20px;
  --text-font-size: 18px;
}
.my-section-button {
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-top: 16px;
  min-height: 47px;
  min-width: 150px;
  width: 216px;
}

.rooms-button {
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-top: 16px;
  min-height: 47px;
  min-width: 150px;
  width: 216px;
}

.rooms {
  float: left;
  position: relative;
  width: 280px;
}

.rooms-title {
  float: left;
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.rooms-buttons {
  float: left;
  width: 280px;
}

.my-section {
  float: left;
  margin-bottom: 15px;
  width: 280px;
}

.my-section-title {
  float: left;
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.my-section-buttons {
  float: left;
  width: 280px;
}

.button-border {
  border-style: solid;
}
