:root {
  --text-font-size: 18px;
}

.igm-btn {
  min-width: 2156px;
  min-height: 48px;
  background-color: white !important;
  border-radius: 8px;
  color: black !important;
  font-size: var(--text-font-size) !important;
  text-align: center !important;
}
