@media only screen and (min-width: 1000px) {
    .upcoming-meetings-title {
        font-size: var(--title-font-size);
        font-weight: bold;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .upcoming-meetings-contents {
        border-style: solid;
        display: flex;
        float: left;
        overflow-y: scroll;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .upcoming-meetings-title {
        font-size: var(--title-font-size);
        font-weight: bold;
        margin: 1%;
    }

    .upcoming-meetings-contents {
        border-style: solid;
        display: flex;
        float: left;
        overflow-y: scroll;
        width: 98%;
        margin: 1%
    }
}